<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- <h:outputStylesheet library="css" name="default.css" />
    <h:link rel="stylesheet" href="css/default.css" type="text/css" />
    <h:outputStylesheet library="css" name="cssLayout.css" />
    <link rel="stylesheet" media="screen" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" media="(max-width:800px),print" href="css/print.css" type="text/css" /> -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <title>PlantsPlants</title>
</head>


<body>
<!-- As a link -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Welcome to PlantsPlants!</a>
    <form action="#" class="form-inline" method="POST" th:action="@{/searchspecimen}">
        <input aria-label="Search" class="form-control mr-sm-2" name="searchTerm" placeholder="Search" type="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<br/>

<p>Your specimen is: &nbsp"<label th:text="${specimenDTO}"/>"</p>
<p><label th:text="${specimenDTO}"/></p>

<form action="#" method="POST" th:action="@{/savespecimen}" th:object="${specimenDTO}">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="latitude"
               th:field="*{latitude}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="longitude"
               th:field="*{longitude}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="description"
               th:field="*{description}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Plant</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="plantId"
               th:field="*{plantId}"
               type="text">
    </div>


    <button name="submit" type="submit" value="0">Submit</button>

</form>
</body>
</html>