<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <title>PlantsPlants</title>
</head>


<body>

<div th:replace="fragments/navbars :: top-navbar"/>

<p>Your specimen is: &nbsp"<label th:text="${specimenDTO}"/>"</p>
<p><label th:text="${specimenDTO}"/></p>

<form action="#" method="POST" th:action="@{/save-specimen}" th:object="${specimenDTO}">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="latitude">Latitude</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="latitude"
               th:field="*{latitude}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="longitude">Longitude</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="longitude"
               th:field="*{longitude}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="description">Description</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="description"
               th:field="*{description}"
               type="text">
    </div>


    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="PlantID">Plant</span>
        </div>
        <input aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control" name="plantId"
               th:field="*{plantId}"
               type="text">
    </div>


    <button name="submit" type="submit" value="0">Submit</button>

</form>
</body>
</html>